 html {
     scroll-behavior: smooth;
     overflow-x: hidden;
 }

 .Landing {
     width: 100%;
     height: auto;
     color: white;
     border-radius: 24px;
     background: #181818;
 }



 .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 4vh 7vw;
     box-sizing: border-box;
     width: 100%;
 }

 .header>.leftIconLanding {
     max-width: 100%;
     height: auto;
     color: white;

 }

 #hr1 {
     margin: auto 7vw;
 }


 @media(max-width: 768px) {
     html {
         scroll-behavior: smooth;
     }

     .header>.leftIconLanding {
         max-width: 100%;
         height: auto;
         color: white;


     }

     .Landing {
         width: 100%;
         height: auto;
         color: white;
         border-radius: 24px;

     }

     .header {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-top: 2vh;
         padding-left: 2vh;
         box-sizing: border-box;
         display: flex;
         flex-wrap: nowrap;
     }

     .header a {

         width: 30px;
         height: 15px;
         color: white;

     }

     .leftIconLanding {
         flex-shrink: 0;
         margin-left: 0;
         padding: 0;
     }



 }