.mainPage {
    display: flex;
    width: 100%;
    height: 100%;
    color: antiquewhite;
    background: #000000;

}

/*> MainMenu*/
.mainPage>:nth-child(1) {
    min-width: 12vw;
    max-width: 12vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainPage>:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/*> MainMenu - div - bannerUp*/
.mainPage>:nth-child(2)>:nth-child(1) {
    width: 100%;
    height: 25%;


}

/*> MainMenu - div - mainContent*/
.mainPage>:nth-child(2)>:nth-child(2) {
    width: 100%;
    height: 75%;


}

.mainContent {
    width: 100%;
    height: 75%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000000;

    /* Добавлено */


}


/*scrolling*/
/* Стили для всей полосы прокрутки */
.scrollable::-webkit-scrollbar {
    width: 10%;
    height: 7px;
    /* Ширина полосы прокрутки */
}

/* Стили для трека полосы прокрутки */
.scrollable::-webkit-scrollbar-track {
    background: transparent;
    /* Цвет фона */
    border-radius: 4px;
    /* Скругленные углы */
}

/* Стили для ползунка полосы прокрутки */
.scrollable::-webkit-scrollbar-thumb {
    background: #888;
    /* Цвет ползунка */
    border-radius: 5px;
    /* Скругленные углы */
}

/* Стили при наведении курсора на ползунок */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Цвет ползунка при наведении */
}

.fade-in {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}



.contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}