.color-picker-container {
    position: relative;
}

.color-picker-palette {
    position: absolute;
    z-index: 100;
}

.color-picker-cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Добавьте полупрозрачный фон */
    pointer-events: none;
    /* Отключаем клики для этого элемента */
}

.color-picker-color-background {
    position: fixed;
    height: 35px;
    width: 35px;
    background-color: #999999;
    float: left;
    cursor: pointer;
    /* Добавьте курсор, чтобы показывать, что это активная область */
}