.modal {
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 70%;
    left: 26%;
    min-height: 50vh;
    min-width: 40vw;
    overflow: hidden;
    position: absolute;
    right: 25%;
    top: 20%;
    width: auto;
    background: #181818;
}

.modal>* {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 10%;
    position: relative;
}

/*верх */
.modal>:nth-child(1) {
    flex: 1.9;
}

.modal>:nth-child(1)>button {
    position: absolute;
    top: 24%;
    right: 4%;
    width: 18px;
    height: 18px;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    background: transparent;
    user-select: none;
    outline: none;
    border: none;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.modal>:nth-child(1)>input {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    background: transparent;
    user-select: none;
    outline: none;
    border: none;
    color: rgba(255, 255, 255);
    margin-bottom: 8%;

    transition: 0.5s ease-in-out;
    opacity: 0.6;

    &:focus,
    &:hover {
        opacity: 1;
    }
}

/*низ*/
.modal>:nth-child(2) {
    flex: 5;
    display: flex;
    padding-left: 0%;
    position: relative;
}


.left-modal-content-main {
    flex: 1;
    width: 50%;
    background: red;
    height: 100%;
}


.right-modal-content-main {
    width: 50%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.right-modal-content-main>textarea {
    align-items: center;
    background: #2E2E2E;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    color: #BCBCBC;
    display: flex;
    flex-direction: row;
    font-family: 'Jost';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 15px;
    line-height: 20px;
    margin-left: 10%;
    min-height: 20%;
    max-height: 70%;
    height: auto;
    outline: none;
    overflow: auto;
    padding: 10px 7px 10px 10px;
    resize: none;
    user-select: none;
    width: 75%;
}



/*низ лево*/


.separator {
    position: absolute;
    width: 1px;
    height: 57%;
    left: 50%;
    right: 50%;
    padding: 0;
    top: 166px;
    border: 1px solid #363636;
}