.containerLogin {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.containerLogin>:first-child {
    height: 100vh;
    width: 55%;
    flex: 1;
    min-width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.containerLogin>:first-child>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/**/
.containerLogin>:nth-child(2) {
    width: 45%;
    min-width: 768px;
    display: flex;
    background: #181818;
    justify-content: center;
    align-items: center;
}

.linktoLanding {
    display: none;
}

@media (max-width: 768px) {
    .containerLogin>:first-child {
        width: 0;
        opacity: 0;
        pointer-events: none;
    }

    .containerLogin>:nth-child(2) {
        width: 100vw;
        min-width: unset;
        padding: 0 16px;

    }

    .containerLogin>:nth-child(2) input,
    a {
        max-width: 300px;
        min-width: 200px;
    }

    .containerLogin>:nth-child(2) div {
        width: 90vw;
        min-width: 50vw;
        margin: 0 10vw;
        align-items: center;
    }

    .RegistrationBox>:first-child p {
        font-size: 32px;
        line-height: 44px;
    }

    .RegistrationBox>:nth-child(3)>a,
    .RegistrationBox>:nth-child(2)>button {
        font-size: 12px;
        line-height: 18px;
    }



    .linktoLanding {
        display: block;
        position: absolute;
        top: 6vh;
        left: -40vw;
    }
}




@media (max-width: 480px) {
    .RegistrationBox>:first-child p {
        font-size: 24px;
        line-height: 36px;
    }

    .RegistrationBox {
        gap: 16px;
    }

    .RegistrationBox>:nth-child(3)>button {
        padding: 8px 16px;
    }

    .RegistrationBox>:nth-child(3)>a {
        margin-right: 10%;
        margin-left: 10%;
    }
}


.containerLogin>:nth-child(2)>:first-child {
    width: 44%;
    height: 60vh;
}


.RegistrationBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.RegistrationBox div {
    height: 100%;
}

.RegistrationBox>:first-child p {
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;
    color: #E3E3E3;
}

.RegistrationBox>:first-child a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 6px;
    gap: 20px;
    text-decoration: none;
    width: auto;
    max-height: 34px;
    color: #D9D9D9;
    background: #181818;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.RegistrationBox>:first-child hr {
    margin-top: 2vh;
}

.RegistrationBox>:nth-child(2) {
    color: white;
    display: flex;
    flex-direction: column;
    height: 30%;
}

.RegistrationBox>:nth-child(2)>p {
    margin-top: 0vh;
}

.RegistrationBox>:nth-child(2)>input,
.RegistrationBox>:nth-child(3)>input {
    width: 100%;
    height: 34px;
    margin: 0;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 4vh;
    color: white;
}



.RegistrationBox>:nth-child(2)>input:focus,
.RegistrationBox>:nth-child(3)>input:focus {
    padding-left: 2%;
    width: 100%;
}

.RegistrationBox>:nth-child(2)>input:focus::placeholder,
.RegistrationBox>:nth-child(3)>input:focus::placeholder {
    color: transparent;
}


.RegistrationBox>:nth-child(2)>button {
    background: none;
    border: none;
    color: #898A8D;
    cursor: pointer;
    font: inherit;
    font-family: 'Jost';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-decoration: underline;

    &:hover {
        color: #f0f2f7;
    }

}

.RegistrationBox>:nth-child(2)>input>::placeholder {
    margin-left: 10px;
    color: white;
}

.RegistrationBox>:nth-child(3) {
    color: white;
    display: flex;
    flex-direction: column;
}

.RegistrationBox>:nth-child(3)>button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    background: #E3E3E3;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 4vh;
    cursor: pointer;
}


.RegistrationBox>:nth-child(3)>a {
    width: auto;
    margin-right: 22%;
    margin-left: 22%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #898A8D;
    margin-top: 2vh;

    &:hover {
        color: #f0f2f7;
    }
}