.mainMenu {
    display: flex;
    width: 99vw;
    height: 100vh;
    color: antiquewhite;
    background: #181818;

}




/*>*/
.mainMenu>:nth-child(1) {
    min-width: 12vw;
    max-width: 12vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainMenu>:nth-child(1) hr {
    width: 80%;
    border: 1px solid #363636;

}

.mainMenu>.sidebarMenu>aside {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    color: antiquewhite;
}


/*up-menu-block*/
.sideBarFirstBlock {
    height: 22%;
    width: 100%;
    box-sizing: border-box;

}

.sideBarFirstBlock>img {
    width: 5vw;
    height: 35%;
}

.sideBarFirstBlock>div>ul {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.sideBarFirstBlock>div>ul>li {
    list-style-type: none;
    text-align: left;
    padding: 4px;
    margin: 0px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sideBarFirstBlock>div>ul>li>a {
    color: antiquewhite;
        text-decoration: none;
}


.sideBarFirstBlock>div>ul>li:hover {
    background: rgb(142, 142, 142, 0.1);
    transition: 1;
    border-radius: 40px;
}


.sideBarFirstBlock>div>ul>li>a>img,
.sideBarFirstBlock>div>ul>li>img {
    padding-right: 8px;
}


/*mid-menu-block*/
.sideBarSecondBlock {
    min-height: 30%;
    width: 100%;

    box-sizing: border-box;

}

/*bottom-menu-block*/
.sideBarThirdBlock {
    flex-grow: 1;
    width: 100%;

}

.sideBarThirdBlock>div>ul {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.sideBarThirdBlock>div>ul>li {

    list-style-type: none;
    text-align: left;
    padding: 4px;
    margin: 0px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


.sideBarThirdBlock>div>ul>li:hover {
    background: rgb(142, 142, 142, 0.1);
    transition: 1;
    border-radius: 40px;
}

.sideBarThirdBlock>div>ul>li>img {
    padding-right: 8px;
}