.calendarComponent {
    width: 80%;
    max-width: 80vw;
    height: 70vh;
    max-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;


}

.calendarComponent>:nth-child(1) {
    height: 100vh;
    margin-top: -1%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



.calendarComponent>:nth-child(1)>input {
    width: 100%;
    max-height: 100%;
    font-size: 40px;
    line-height: 58px;
    color: rgb(255, 250, 250);
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    user-select: none;
    outline: none;
    opacity: 0.5;
    transition: 0.3s ease-in;

    &:hover,
    &:focus {
        opacity: 1;

        opacity: 1;

    }
}



.calendarComponent>:nth-child(1)>hr {
    width: 100%;
    border: 1px solid #363636;
    order: 1;
    flex-grow: 0;

}



.btnAddCalender {

    opacity: 0;
    cursor: pointer;
    height: 14px;
    width: 14px;
}

.dayBox {
    min-width: 160px;
    width: 100%;
    min-height: 30px;
    display: flex;
    margin-bottom: 0%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.dayBox:nth-child(1) {}

.dayBox:nth-child(2) {}

/* Устанавливаем максимальную высоту для ячейки дня */
.fc-daygrid-day {
    max-height: 100px !important;
    /* Максимальная высота, можно настроить под свои нужды */
    overflow-y: auto;
    /* Добавляем вертикальный скролл */
}

/* Если хочешь сделать плавную прокрутку */
.fc-daygrid-day {
    scroll-behavior: smooth;
}

.fc-daygrid-day-frame {
    max-height: 110px !important;
    /* Максимальная высота, можно настроить под свои нужды */
    overflow-y: auto !important;
    scroll-behavior: smooth;

}

/* Стили для всей полосы прокрутки */
.fc-daygrid-day-frame::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 4px;
    height: 7px;
    /* Ширина полосы прокрутки */
}

/* Стили для трека полосы прокрутки */
.fc-daygrid-day-frame::-webkit-scrollbar-track {
    background: transparent;
    /* Цвет фона */
    border-radius: 4px;
    /* Скругленные углы */
}

/* Стили для ползунка полосы прокрутки */
.fc-daygrid-day-frame::-webkit-scrollbar-thumb {
    background: #888;
    /* Цвет ползунка */
    border-radius: 5px;
    /* Скругленные углы */
}

/* Стили при наведении курсора на ползунок */
.fc-daygrid-day-frame::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Цвет ползунка при наведении */
}




/* Стили для всей полосы прокрутки */
.fc-scroller::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 4px;
    height: 7px;
    /* Ширина полосы прокрутки */
}

/* Стили для трека полосы прокрутки */
.fc-scroller::-webkit-scrollbar-track {
    background: transparent;
    /* Цвет фона */
    border-radius: 4px;
    /* Скругленные углы */
}

/* Стили для ползунка полосы прокрутки */
.fc-scroller::-webkit-scrollbar-thumb {
    background: #888;
    /* Цвет ползунка */
    border-radius: 5px;
    /* Скругленные углы */
}

/* Стили при наведении курсора на ползунок */
.fc-scroller::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Цвет ползунка при наведении */
}


.fc-day:hover {

    /* Или любой другой цвет для эффекта наведения */
    & .btnAddCalender {
        opacity: 1;
        background: #363636;
    }
}

.fc-day .fc-day-number:hover {
    background-color: transparent;
    box-sizing: border-box;

    /* Можно добавить, чтобы не мешать числу */
}

.fc-header-toolbar {
    height: 10px;

}



/*Day cards*/
.cardContainer {
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.cardItem {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
}


@media(max-width: 768px) {
    .inputName {
        font-size: 18px !important;

    }

    .fc-toolbar-title {
        font-size: 18px !important;

    }

    .fc .fc-col-header-cell-cushion {
        display: revert !important;
    }

}