.board {
    width: 80%;
    max-width: 80vw;
    height: 50vh;
    max-height: 60%;
    flex-direction: column;
    /* overflow: auto; */

}

.board>:nth-child(1) {
    height: 20%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}


.board>:nth-child(1)>input {
    width: 100%;
    max-height: 100%;
    font-size: 40px;
    line-height: 58px;
    color: rgba(217, 217, 217, 0.28);
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    user-select: none;
    outline: none;
}



.board>:nth-child(1)>hr {
    width: 100%;
    border: 1px solid #363636;
    order: 1;
    flex-grow: 0;

}

.board>:nth-child(2) {
    min-height: 80%;
    width: 100%;
    max-width: 80vw;
    display: flex;
    align-items: flex-start;
}

/* .board>:nth-child(2)>:first-child */
.borderBoxForList {

    max-width: 100%;
    height: auto;
    display: flex;
    flex: auto;
    flex-direction: row;
    overflow-x: auto;
    margin-left: 0px;

}

.borderBoxForList>:first-child {
    margin-left: 0px;
}