.newPageComponent {
    width: 45%;
    min-width: 40vw;
    height: 70%;
    min-height: 50vh;
    position: absolute;
    background: #181818;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 4%;
    overflow: hidden;
    top: 20%;
}

.newPageComponent div {
    margin: auto;
    margin-left: 5%;

}

.newPageComponent>:nth-child(1) {
    margin: -10% -10% 5% -6%;
    padding-left: 10%;
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.newPageComponent>:nth-child(1)>img {
    position: absolute;
    top: 24%;
    right: 4%;
    width: 18px;
    height: 18px;
    opacity: 0.5;
    transition: 0.5s ease-in-out;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}


.newPageComponent>:nth-child(1)>input {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    /* identical to box height */
    background: transparent;
    user-select: none;
    outline: none;
    border: none;
    color: rgba(217, 217, 217, 0.6);
    margin-bottom: 0%;

    transition: 0.5s ease-in-out;
    opacity: 0.6;

    &:focus,
    &:hover {
        opacity: 1;
    }


}

.newPageComponent>:nth-child(2) {
    width: 100%;
    flex: 2.5;
}

.newPageComponent>:nth-child(2)>ul {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 15px;

}

.newPageComponent>:nth-child(2)>ul>li {
    display: flex;
    margin: 0px;
    margin-top: 0px;
    width: 50%;
    list-style-type: none;
    text-align: left;

}

.newPageComponent>:nth-child(2)>ul>li>div {
    height: 80%;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-left: 0;
    flex-direction: row;
    padding: 0px 15px;
    gap: 16px;
    cursor: pointer;
    background: #202020;
    border-radius: 6px;


    transition: 0.3s ease-in-out;
    opacity: 0.6;



    &:hover {
        background: rgba(67, 75, 243, 0.6);
        border-radius: 6px;
        opacity: 1;
    }


}

.newPageComponent>:nth-child(2)>ul>li>div>img {
    padding-right: 2%;
    cursor: pointer;

}

.newPageComponent>:nth-child(3) {
    width: 100%;
    flex: 0.5;

    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;

    padding-bottom: 0px;
    align-items: center;

}

.newPageComponent>:nth-child(3)>button {
    margin-top: 14%;
    box-sizing: border-box;
    height: 24%;
    width: 16%;
    background: transparent;
    border: 1px solid #A09999;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
    border-radius: 6px;
    color: wheat;

    transition: 0.3s ease-in-out;
    opacity: 0.6;

    &:hover {
        background: rgba(58, 54, 54, 0.6);
        cursor: pointer;
        opacity: 1;
    }



}